/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #001c93;
  --primary-color-rgb: 18, 52, 86;
  --dark-color: #202224;
  --orange-color: #fb923c;
  --red-color: #ea0234;
  --green-color: #00b69b;
  --gray-color: #8A8383;
  --lightgray-color: #f2f2f2;
  --blue-color: #007BFF;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  min-height: 100vh;
  padding: 1.5rem;
}

.grid-center{
  display:grid;
  place-items:center;
}

a{
  text-decoration: none;
}

.pt-5 {
  padding-top: 6rem;
}

.bg-gray {
  background-color: var(--lightgray-color);
}

.title {
  font-size: 2.5rem;
}

.text-gray{
  color: var(--gray-color);
  margin-bottom: 10px;
}

.mt-2{
  margin-top: 20px;
}

/* LOGIN PAGE */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height:700px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.bg-img {
  /* background-color: #fff; */
  /* max-width:50%; */
  background: linear-gradient(rgba(0, 28, 147, 0.7), rgba(0, 28, 147, 0.1)),
    url("../images/bg-grapol.webp");
  width: 100%;
  height: 100%;
  max-height:700px;
  flex: 1;
  background-size: cover;
  background-position: center;
}

.box-contain {
  flex: 1;
  padding: 1rem 2.5rem;
}

.form-contain {
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-contain > h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-weight: 700;
  color: var(--primary-color);
}

.danger-box{
  background-color: #fbccd6;
  color: var(--red-color);
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.info-box {
  background-color: #e6f9ec;
  color: #2a7f4f;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.info-box h4 {
  font-weight: 700;
}

.info-box ul {
  padding-left: 15px;
}

.info-box ul li {
  margin: 5px 10px;
}

.login-form label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  background-color: #f1f1f1;
  color: #666;
}

.login-form input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.login-form input#password {
  margin-bottom: 0;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #b3b3b3;
}

.password-wrapper {
  position: relative;
  margin-bottom: 1.5rem !important;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.back-home {
  text-align: right;
}

.back-home a {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
}

/* HOME PAGE */
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.5s ease-in-out;
  z-index: 99;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0);
}

.navbar.navbar-other {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.navbar.navbar-other .menu a{
  color: var(--primary-color);
}

.navbar.navbar-other .logo {
  color: var(--primary-color);
}

.navbar.navbar-other .hamburger div {
  background-color: var(--primary-color);
}

.navbar.navbar-other .profile span.profile-text {
  color: var(--dark-color);
}

.navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.navbar.scrolled .menu a,
.navbar.scrolled .logo {
  color: var(--primary-color);
}

.navbar.scrolled .hamburger div {
  background-color: var(--primary-color);
}

.navbar.scrolled .profile span.profile-text {
  color: var(--dark-color);
}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* profile menu */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile span.profile-text {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.profile span p.profile-username {
  font-size: 1.1rem;
  font-weight: 600;
}

.profile span p.role-user {
  font-size: 0.9rem;
}

.navbar .profile .img-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.navbar .menu a,
.navbar .profile {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar .profile {
  cursor: pointer;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.tab-sublink.active{
  border-bottom: 3px solid var(--primary-color);
  border-radius: 0!important;
  font-weight:600;
  color: var(--primary-color)!important;
}

/* span.arrow {
display:none!important;
margin-left: 8px;
border: solid white;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 4px;
transform: rotate(45deg);
transition: all 0.3s;
} */

/* Hamburger menu icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* STYLE HEADER */
/* Section Header */
section#header {
  padding-top: 80px;
  min-height: 450px;
  background: linear-gradient(-140deg ,rgba(0, 28, 147, 0.7) 30%, rgba(0, 28, 147, 0)) 30%,
    url("../images/Gedung-TI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#header .box-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  padding: 4rem;
  padding-top: 20px;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  max-width: 900px;
}

#header p {
  max-width: 600px;
  font-size: 1rem;
  font-weight: normal;
}

textarea {
  resize: vertical;
}

/* for all header */
.main-header {
  font-size: 3rem;
}

.main-header span {
  color: var(--orange-color);
}

.btn {
  display: block;
  width: max-content;
  padding: 13px 25px;
  border-radius: 8px;
  outline: none;
  border: 0;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-size: 1rem;
}

.btn-full{
  width: 100%;
  max-width:500px;
  border-radius:30px;
}

.btn-tatib {
  padding: 15px 25px;
  margin-top: 30px;
}

.btn-orange {
  background-color: var(--orange-color);
}

.btn-red {
  color: #fff;
  background-color: var(--red-color);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}

.btn-white{
  color: var(--dark-color);
  background-color: #fff;
  border: 1px solid var(--gray-color);
}

.btn-gray{
  background-color: var(--lightgray-color);
  color: var(--dark-color);
  border-radius: 6px;
  border: 1px solid #ddd;
}

.btn-small{
  padding: 10px 25px;
}

/* SECTION TATATERTIB */
section#tataTertib {
  padding: 1.5em;
}

/* table style */
.table-container {
  width: 100%;
  overflow: auto;
  border-radius:15px;
  border: 1px solid #ddd;
}

.square-border{
  border-radius: 0;
}

table#tataTertib {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  min-width: 600px;
}

table#tataTertib th,
table#tataTertib td {
  border: 1px solid #ddd;
  padding: 8px;
}
table#tataTertib th {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}
table#tataTertib td {
  text-align: center;
}

table#tataTertib td:nth-of-type(2) {
  text-align: left;
}

/* scrollbar table */
.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* SECTION FOOTER LAPOR */
section#footerLapor span.text-red {
  color: var(--red-color);
}

section#footerLapor {
  margin-top: 30px;
  background: linear-gradient(-160deg ,rgba(0, 28, 147, 1) 70%, rgba(0, 28, 147, 0)) 10%;
  border-radius: 20px;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

#footerLapor .box-footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items:center;
  text-align:center;
  justify-content: center;
  padding: 2rem;
  color: #fff;
  width: 100%;
}

/* PROFILE PAGE */
.box-content {
  margin-top:20px!important;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.box-profile {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  border: 1.5px solid #ddd;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.info-user {
  display: flex;
  gap: 15px;
  align-items: center;
  width: max-content;
}

.info-user span p, .head-tab-content p{
  color: var(--gray-color);
}

.sidebar {
  width: max-content;
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.tab-link, .tab-sublink {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 10px;
  font-weight: 600;
}

.tab-sublink{
  border-radius: 0;
  border-bottom: 3px solid var(--gray-color);
}

.tab-link.active {
  background-color: rgba(var(--primary-color-rgb), 0.2);
  color: var(--primary-color);
  font-weight: 600;
}

.tab-content.active, .content-edit-profile.active{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 25px;
  min-height: 100vh;
}

.tab-subcontent.active{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 100vh;
}

.tab-content, .tab-subcontent, .content-edit-profile{
  display:none;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}

.info-personal{
  width: 100%;
}

.info-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 300px));
  gap: 20px;
}

.info-grid span p:first-of-type{
  color: var(--gray-color);
}

.border-image{
  border: 2px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* EDIT PROFILE */

.input-editprofile{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
}

.input-editprofile label{
  font-weight: 600;
}

.input-editprofile input{
  font-family: "Inter", sans-serif;
  font-size: 1em;
  padding: 15px;
  border-radius: 10px;
  border: 1.5px solid var(--gray-color);
}

/* KELOLA TATIB */
.form-tatib{
  display: flex;
  align-items: end;
  gap:10px;
  width: 100%;
}

.form-tatib .flex-col:first-child{
  width: 100%;
}

select.input-kelola-tatib{
  width: 100%;
  min-width: 240px;
  max-width: 300px;
  font-size: 14px;
}

.input-kelola-tatib{
  width: 100%;
  padding: 17px 20px!important;
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1em;
}

.table-content tbody tr td.icon-tatib{
  position:relative;
}

.icon-tatib, .detail-icon-tatib span{
  cursor:pointer;
  transition: all 0.3s;
}

span.btn-edit-profile{
  position:absolute;
  top: 20px;
  right: 20px;
  cursor:pointer;
  transition: all 0.3s;
}

.btn-edit-profile:hover{
  transform: scale(0.9);
}

.detail-icon-tatib{
  display:none;
  position: absolute;
  top: 70%;
  right: 20px;
  background-color: #fff;
  border: 1px solid var(--gray-color);
  z-index:10;
}

.detail-icon-tatib .flex-col{
  align-items:start!important;
  gap:0;
}

.detail-icon-tatib .flex-col span .flex-row{
  margin:0;
}

.detail-icon-tatib .flex-col span{
  padding:13px 20px;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
}

.detail-icon-tatib .flex-col span:hover{
  background-color:#c7cde6;
}

.detail-icon-tatib.active{
  display:block!important;
}

/* HISTORY PELANGGARAN */
.empty-state{
  display: grid;
  place-items: center;
  width: 100%;
  margin:auto;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table-content th, .table-content td {
  text-align:center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.table-content th {
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: center;
}

.table-content .truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  max-width: 350px;
}

.table-content td.text-left{
  text-align:left;
}

.table-content tr {
  border-bottom: 1px solid #ddd;
}

.table-content .normal-white-space{
  white-space:normal;
}

a.link-detail{
  color: var(--primary-color);
}

.info-laporan{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

span.update-tatib{
  cursor: pointer;
}

/* BADGES */
.badge {
  width:100%;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
}

.badge.badge-green{
  background-color: #e0f7fa;
  color: var(--green-color);
}

.badge.badge-red {
  background-color: #ffebee;
  color: var(--red-color);
}

.badge.badge-blue {
  background-color: #CCE5FF;
  color: var(--blue-color);
}
.badge.badge-orange {
  background-color: #fee9d8;
  color: var(--orange-color);
}

.badge.badge-gray {
  background-color: var(--lightgray-color);
  color: var(--gray-color);
}

/* DETAIL SECTION */
.detail-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin:2rem 0;
}

.detail-item {
  flex: 1; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.detail-item .badge-contain{
  width:max-content;
  display: flex;
  overflow: auto;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

.badge-contain label{
  cursor: pointer;
}

.badge-contain input[type="radio"] {
  display: none;
}

.detail-item h4, .detail-item p, .detail-item label:not([class]), .detail-item input, .detail-item select, .detail-item textarea{
  font-family: "Inter", sans-serif;
  padding: 13px;
}

.detail-item h4, .detail-item label:not([class]){
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.detail-item input, .detail-item select{
  border: 1px solid transparent;
}

.detail-item span{
  margin: 13px;
  width:max-content;
}

/* MODAL BOX */
.modal-box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: auto;
  margin-top: -7rem;
  margin-bottom: 3rem;
}

.modal-box h2{
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--lightgray-color);
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: rgba(var(--primary-color-rgb), 0.8); 
}

.input-field::placeholder {
  color: rgba(var(--primary-color-rgb), 0.8); 
}


.date-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.calendar-icon {
  font-size: 20px;
}

.upload-section {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.list-file-uploaded ul{
  padding: 10px;
}
.list-file-uploaded ul li{
  margin-left: 10px;
}

form#searchByNIM{
  overflow:hidden;
  display:flex;
  border-radius: 0 0 8px 8px;
  border: 1px solid #ddd;
}

/* select.input-field{
  color: #777
} */

.footer-modal{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* LOGIN REQUIRED */
.login-required{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin: auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

/* flex */
.flex-between{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 1rem;
}

.items-end{
  align-items:end;
}

.flex-col{
  display:flex;
  gap:10px;
  /* align-items:center; */
  flex-direction: column;
}

.m-0{
  margin: 0!important;
}

.flex-row{
  display: flex;
  gap:15px;
  align-items:center;
  width: max-content;
  margin: auto;
  flex-wrap:wrap;
}

.flex-row-full{
  display: flex;
  gap:15px;
  align-items:center;
  width: 100%;
  margin: auto;
}

.flex-row-start{
  display: flex;
  gap:14px;
  width: 100%;
  margin: 10px;
  flex-wrap:wrap;
}

img.lampiran_bukti{
  object-fit: cover;
}

img.lampiran_bukti_full{
  height:100%;
  width: 100%;
  max-height:90vh;
  object-fit: contain;
  border-radius: 5px;
}

/* feature tab */
.feature-tab{
  margin-top: 1rem;
  position:relative;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ddd;
  width:100%;
  max-width:max-content;
  margin-bottom: 20px;
}

/* filter tab */
.filter-tab{
  overflow-x: auto;
  max-width:1178px;
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.filter-container {
  background-color: var(--lightgray-color);
  width: max-content;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.filter-item {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-right: 1px solid #ddd; 
  width: max-content;
}

.filter-item.filter-checkbox{
  gap:10px;
}

.filter-item.filter-checkbox input{
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background-color: var(--lightgray-color);
}

.filter-item.search{
  cursor: pointer;
}

.filter-item img {
  width: 24px;
  height: 24px;
}

.filter-search input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  width: 200px;
}
.reset-button {
  color: var(--red-color);
  cursor: pointer;
  font-weight: bold;
}

.search-text {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  font-size: 16px;
  color: #666;
  outline: none;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
}

.search-text::placeholder {
  color: #ccc;
}

/* Container to center the input */
.search-input-container {
    max-width:1178px;
    display:flex;
}

.arrow-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.arrow {
  width: 50px;
  height: 30px;
  border: none;
  background: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  border-right: 1px solid #ddd;
}

.arrow:hover {
  color: #000;
}

.arrow:active {
  color: #666;
}

/* dropdown select option */
.dropdown {
  position: relative;
}

.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

select#tingkatPelanggaran{
  font-family: "Inter", sans-serif;
}

/* Custom arrow */
.dropdown::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-35%) translateX(20px);
  pointer-events: none;
  width: 15px; 
  height: 15px; 
  background-image: url('../images/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.dropdown select:focus {
  outline: none;
}

.dropdown.date-range-input{
  width: 100px;
  cursor:pointer;
}

.date-input{
  display:none;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: max-content;
  position:relative;
}

.date-input-active{
  position:absolute;
  top: 70%;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  gap:10px;
  align-items:center;
}

/* STYLE TEXT CAPITAL */
.capitalize-text {
  text-transform: capitalize;
}

.uppercase-text{
  text-transform: uppercase;
}

/* ALERT STYLE */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay.alert-active{
  display: flex;
}

.bukti-box{
  padding: 10px;
  width: auto;
  background-color: #fff;
  margin: 0 10px;
  max-width: 70%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style untuk kotak alert */
.alert-box {
  background-color: #fff;
  padding: 20px 40px;
  width: 100%;
  margin: 0 10px;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.alert-title {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 10px;
}

.alert-message {
  font-size: 1rem;
  color: var(--dark-color);
  margin-top: 10px;
  line-height: 1.5;
}

.alert-close-button{
  margin: 10px auto;
}

.alert-button:hover {
  background-color: #143075;
}

/* filter input */
.tingkatPelanggaran{
  padding: 10px;
  border-radius: 10px;
}

.filter-tingkat-pelanggaran{
  display: flex;
  align-items:center;
  gap: 10px
}

/* custom input date */
/* Base styling for date input */
.custom-date {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #333;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.custom-date:hover {
  border-color: #888;
}

/* Focus effect */
.custom-date:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

/* Placeholder styling for browsers that support it */
.custom-date::-webkit-datetime-edit-text,
.custom-date::-webkit-datetime-edit-month-field,
.custom-date::-webkit-datetime-edit-day-field,
.custom-date::-webkit-datetime-edit-year-field {
  color: #555;
}

.no-dropdown {
  appearance: none; /* Menghapus tampilan bawaan browser */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent; /* Membuat background transparan */
  border: 1px solid #ccc; /* Tambahkan border jika diperlukan */
  padding: 8px;
  cursor: not-allowed; /* Menunjukkan elemen ini tidak interaktif */
}

/* Responsive styles */
/* TABLET */
@media (max-width: 768px) {
  .info-grid{
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  }

  .bg-img {
    display: none;
  }

  .box-contain {
    padding: 1rem 1.5rem;
  }

  .box {
    height: max-content;
    max-width: max-content;
  }

  .navbar .menu {
    display: none; /*Hide menu on small screens*/
    opacity: 0;
    transform: translateY(-10px);
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #333;
    padding: 1rem;
    transition: all 0.2s;
    z-index: 90;
  }

  .profile span.profile-text {
    display: none;
  }

  .navbar .menu.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .navbar .menu.active a{
    color: #fff;
  }

  .profile .dropdown-active.arrow {
    transform: rotate(-135deg);
  }

  .hamburger {
    display: flex;
  }

  .main-header {
    font-size: 3rem;
  }

  #header .box-header {
    min-height: 90vh;
    padding: 2rem;
    justify-content: center;
  }

  section#tataTertib {
    padding: 1em;
  }
  .title {
    font-size: 2rem;
  }

  #footerLapor .box-footer {
    padding: 1.7rem;
  }

  #footerLapor .box-footer h1 {
    font-size: 2.5rem;
  }

  .sidebar{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
    gap: 5px;
  }

  .sidebar .tab-link{
    border: 1px solid #ddd;
  }

  .table-content{
    min-width: 850px;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .main-header {
    font-size: 2.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
  #footerLapor .box-footer h1 {
    font-size: 1.5rem;
  }
  .btn {
    padding: 12px 22px;
  }
  .info-user {
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 100%;
  }
}
